.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;

    position: relative;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    flex-wrap: wrap;
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}