.app.dark {
  --bg-color: #00013b;
  --inverted-bg-color: #d0d2da;

  --primary-color: #ec4848;
  --secondary-color: #c27f7f;
  --inverted-primary-color: #2c490b;
  --inverted-secondary-color: #96d948;
}