.app.light {
  --bg-color: #d0d2da;
  --inverted-bg-color: #00013b;

  --primary-color: #2c490b;
  --secondary-color: #96d948;
  --inverted-primary-color: #ec4848;
  --inverted-secondary-color: #c27f7f;
}